body {
    background-color: #fff;
    color: #374051;
    -webkit-font-smoothing: antialiased;
    font-family: "Microsoft YaHei", 微软雅黑;
}

h1 {
    margin: 0;
    border: 0;
    vertical-align: baseline;
    background: 0 0;
    word-break: break-word;
    position: relative;
    margin-bottom: 15px;
    border-bottom: 1px solid #e2eaec;
    line-height: 1.5em;
    font-size: 21px;
    font-weight: bold;
    padding: 0 0 15px;
    padding-right: 0px;
}

h2 {
    line-height: 1.8em;
    padding: 0;
    vertical-align: baseline;
    word-break: break-word;
    font-weight: bold;
    margin: 0.67em 0;
    padding-bottom: 0px;
    border: none;
    font-size: 21px;
    padding-left: 20px;
    margin-top: 20px;
    background: url(https://cybozukf5.oss-cn-shanghai.aliyuncs.com/images/list-style03.png) no-repeat;
}

h3 {
    line-height: 1.8em;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    word-break: break-word;
    font-weight: bold;
    margin: 0.67em 0;
    font-size: 18px;
    padding-left: 20px;
    background: url(https://cybozukf5.oss-cn-shanghai.aliyuncs.com/images/list-style04.png) no-repeat;
    background-position: 3px 3px;
    margin-top: 15px;
}

h4 {
    line-height: 1.8em;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    background: 0 0;
    word-break: break-word;
    font-weight: bold;
    margin: 0.67em 0;
    font-size: 1.17em;
}

h5 {
    line-height: 1.8em;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: 0 0;
    word-break: break-word;
    font-weight: bold;
    margin: 0.67em 0;
}

h6 {
    line-height: 1.8em;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: 0 0;
    word-break: break-word;
    font-weight: bold;
    margin: 0.67em 0;
}

p {
    line-height: 1.8em;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: 400;
    vertical-align: baseline;
    background: 0 0;
    word-break: break-all;
}

table {
    line-height: 1.8em;
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-weight: 400;
    vertical-align: baseline;
    background: 0 0;
    word-break: break-word;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 16px;
    max-width: 100%;
    border: 1px solid #e2eaec;
    border-radius: 5px;
}

tbody {
    line-height: 1.8em;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-weight: 400;
    vertical-align: baseline;
    background: 0 0;
    word-break: normal;
}

tr {
    line-height: 1.8em;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-weight: 400;
    vertical-align: baseline;
    background: 0 0;
    word-break: break-word;

}

th {
    line-height: 1.8em;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0;
    vertical-align: baseline;
    font-size: 100%;
    background: 0 0;
    word-break: break-word;
    font-weight: 700;
    padding: 6px;
    background-color: #85d8fb;
    border: 1px solid #e2eaec;
}

td {
    line-height: 1.8em;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0;
    font-size: 100%;
    background: 0 0;
    font-weight: 400;
    padding: 6px;
    vertical-align: top;
    word-break: normal;
    border: 1px solid #e2eaec;
}

ul {
    line-height: 1.8em;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: 400;
    vertical-align: baseline;
    background: 0 0;
    word-break: break-word;
    list-style: none;
    margin-bottom: 16px;
    list-style-position: inside;
    padding-left: 20px;
}

li {
    line-height: 1.8em;
    list-style: none;
    list-style-position: inside;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: 400;
    vertical-align: baseline;
    background: 0 0;
    word-break: break-word;
    padding-left: 13px;
    position: relative;
}

li::before {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgb(79, 195, 246);
    background-image: none;
    background-origin: padding-box;
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: auto;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    box-sizing: border-box;
    content: "";
    display: block;
    height: 5px;
    left: 0px;
    position: absolute;
    top: 10px;
    width: 5px;
}